{% extends 'master' %}

{% block title %}
  welcome
{% endblock %}

{% block content %}
  <center>
    <h1>Welcome to this student App</h1>
    <p>You can <strong>register</strong> automatically as the admin to view the list of students in the system</p>
    <p>You can do the following:</p>
    <ul class="list-unstyled land-list">
      <li>Add new student resource</li>
      <li>Edit student resource</li>
      <li>View student resource</li>
      <li>Delete student resource</li>
    </ul>
  </center>
{% endblock %}
