{% if old('errors') %}
  <div class="alert alert-danger">
    <ul>
      {% for error in old('errors') %}
        <li class="list-unstyled">{{ error.message }}</li>
      {% endfor %}
    <ul>
  </div>
{% endif %}
