.container {
    color: #f9f9f9;
    width: 100% !important;
}

.btn {
    background: transparent;
    border: transparent;
}

.width-98 {
    width: 98.85% !important;
}

.land-list li {
    margin: 20px;
    font-size: 18px;
}

.inline {
    display: inline-block;
}

.red {
    color: red;
}

.green {
    color: green;
}

.white {
    color: white;
}